#!/usr/bin/env bash



{% for entry in entries %}
echo "Building {{ entry.path }}"; (cd {{ entry.path }} && docker build -t 'php:{{ entry.version }}-{{ entry.variant }}-{{ entry.debug}}' .)
{% endfor %}
